/* Product Card Styles */
.product-cards {
    width: 15rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .product-cards:hover {
    transform: scale(1.05);
  }
  
  /* Product Image */
  .productlist-image{
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    object-fit: cover;

  }
  
  /* Product Title */
  .product-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  /* Product Price */
  .product-price {
    color: #4b5563;
  }
  